html(lang='en')
    head 
        title Online Store
        meta(charset="UTF-8")
    body 
        include ../partials/header 
        div#main(style="font-size: 200%;") 
            h4 Welcome to Online Store