div#header
    a(href="http://localhost:3000/home") The Home Page
    |  
    a(href="http://localhost:3000/orderform") The Order Form
    |  
    a(href="http://localhost:3000/vendorstats") The Vendor Stats Page
    |  